apiVersion: apps/v1
kind: Deployment
metadata:
  name: result
spec:
  replicas: 2
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
      - name: result
        image: laraleo/project2-result
        ports:
        - containerPort: 80
        env:
        - name: PG_HOST
          value: "db"
        - name: PG_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: username
        - name: PG_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        - name: PG_DATABASE
          value: "postgres"
        - name: PORT
          value: "80"