apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: laraleo/project1:worker-appuv
        env:
        - name: REDIS_HOST
          value: "redis"
        - name: REDIS_PORT
          value: "6379"
        - name: DB_HOST
          value: "db"
        - name: DB_USERNAME
          value: "postgres" 
        - name: DB_PASSWORD
          value: "postgres"
        - name: DB_NAME
          value: "postgres"